.circle {
  float: left;
  text-align: center;
  position: relative;
  background-color: #dd4c4c;
  width: 500px;
  height: 500px;
  border-radius: 50%;

}

.circle2 {
  float: right;
  text-align: center;
  position: relative;
  background-color: #d0118a;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: 0px;
}
.circle3 {
  float:left;
  text-align: center;
  position: relative;
  background-color: #2ec4cc;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* margin-left: 0px; */
}

.circle span {
  left: 85px;
  color:white;
  position: absolute;
  bottom: 217px;
}
.circle2 span {
  left: 175px;
  color:white;
  position: absolute;
  bottom: 217px;
}
.circle3 span {
  left: 110px;
  color:white;
  position: absolute;
  bottom: 217px;
}
#mb{
  width: 1000px;
  border: 10px solid rgb(118 155 118);
  padding: 100px;
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
}