#rb{

    float:left;
    text-align: center;
    width: 50px;
    height:50px;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;

}

  .circle {
    float:left;
    text-align:center;
    background-color: #cc6d2e;
    width:500px;
    height:500px;
    border-radius: 50%;
  }
  .circle2 {
    float:right;
    text-align:center;
    background-color: #cc6d2e;
    width: 500px;
    height:500px;
    border-radius: 50%;
    margin-left: 0px;
  }
 
 